---
import Main from '../layouts/Main.astro';
---

<Main
  title="Uh oh... this is an oopsie"
  description="Is it my fault or yours?"
  canonicalUrl="https://www.jonopens.com/404"
>
	<main>
		<h1><span class="text-gradient">That's a 404</span></h1>
		<p class="instructions">
      Sorry! The page you are looking for doesn't exist :(
		</p>
	</main>
</Main>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
</style>
